.header {
  position: sticky;
  top: 0;
  z-index: 1;

   nav.navbar {
     img {
       width: 100px;
     }

     .search-block {
      position: relative;

      span {
        display: none;

        &.my-clear {
          display: block;
          position: absolute;
          height: 11px;
          width: 11px;
          right: 97px;
          top: 14px;
        }
      }
     }
   }
 }
