.giphy-grid {
  position: relative;
  height: auto;
  min-height: 100%;

  .spinner-border {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
  }

  nav {
    ul.pagination {
      justify-content: end;

      a {
        cursor: pointer;
      }
    }
  }
}
