.error-page {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
